.title {
  margin: 20px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 17px;
}

.form {
  margin-bottom: 20px;
}

.inputBox {
  display: block;
  padding: 5px 0;
  margin-bottom: 15px;
  cursor: pointer;
}
