.selectBtn {
  display: flex;
  align-items: center;
  min-width: 340px;
  padding: 20px 15px;
  background: var(--greyF4);
  text-align: left;
  font-size: 16px;
}

.selectTitle {
  margin-right: auto;
}

.selectBtn > span:last-child {
  transition: transform 0.25s linear;
}

.arrowDuwn {
  transform: rotate(0deg);
}

.arrowUp {
  transform: rotate(180deg);
}

.selectList {
  background: var(--greyF4);
}

.selectList > button {
  display: block;
  padding: 20px 15px;
  border-top: 1px solid var(--greyDE);
  font-size: 16px;
}
